# Node
PORT="3333"
NODE_ENV="development"
CONCURRENCY="2"
# Cloudflare
STORAGE_PROVIDER=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_DEFAULT_BUCKET=
# AWS
AWS_REGION=
ENCODE_QUEUE_URL=
ENCODE_REPOSITORY_URL=
WEBHOOKS_SNS_TOPIC_ARN=
# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
